
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  
  .main-menu {
    li {
      margin-right: 20px;
    }
  }

  .footer {
    &-address {
      margin-right: 20px;
    }
  
    &-phone {
      margin-right: 20px;
  
      &:nth-child(3) {
        margin-right: 20px;
      }  
    }
  
    &-comand {
      margin-left: 20px;
    }
  }

  .section {
    &-main {
      .list {
        flex-direction: column;
        li {
          margin-bottom: 20px;

          &:first-child {
            margin-right: 0; 
          }  
        }  
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .form {
    &-content {
      flex-direction: column;

      &, & + .form-info {
        max-width: 500px;
      }
    }
    .input-div, .button {
      margin-right: 0;
      width: 100%;
    }
  }

  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
  }

  .footer {    
    text-align: center;

    .grow {
      display: none;
    }

    &-content {
      padding-bottom: 0;
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #000;
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .section {
    &-title {
      font-size: 25px;
    }

    &-main {
      &-title {
        font-size: 25px;
      }

      .form {
        .d-block {
          display: inline !important;
        }
      }
    }

    &-products {
      .product {
        margin-bottom: 20px;
        &-block {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }

    &-main {
      
    }    
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .remodal {
    &.remodal-small {
      padding: 20px 10px;
    }
  }

  .modal {
    &-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    form {
      width: auto;
    }
  }

  .header {
  }

  .section {
    &-title {
      font-size: 22px;
    }

    &-main {
      &-title {
        font-size: 22px;
        margin: 0 0 30px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {
  .remodal {
    max-width: 80%;
  }
}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}