
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  
  .main-menu {
    li {
      margin-right: 20px;
    }
  }

  .footer {
    &-address {
      margin-right: 20px;
    }
  
    &-phone {
      margin-right: 20px;
  
      &:nth-child(3) {
        margin-right: 20px;
      }  
    }
  
    &-comand {
      margin-left: 20px;
    }
  }

  .section {
    &-main {
      .list {
        flex-direction: column;
        li {
          margin-bottom: 20px;

          &:first-child {
            margin-right: 0; 
          }  
        }  
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .form {
    &-content {
      flex-direction: column;

      &, & + .form-info {
        max-width: 500px;
      }
    }
    .input-div, .button {
      margin-right: 0;
      width: 100%;
    }
  }

  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
  }

  .footer {    
    text-align: center;

    .grow {
      display: none;
    }

    &-content {
      padding-bottom: 0;
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #000;
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .section {
    &-title {
      font-size: 25px;
    }

    &-main {
      &-title {
        font-size: 25px;
      }

      .form {
        .d-block {
          display: inline !important;
        }
      }
    }

    &-products {
      .product {
        margin-bottom: 20px;
        &-block {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }

    &-main {
      
    }
    
    &-reviews {
      .review {
        flex-direction: column;

        &-img {
          margin: 0 0 10px;
        }

        &-author {
          text-align: center;
        }

        &-summary {
          justify-content: center;
        }
      }
    }

    &-contact {
      background-color: #f2f2f2;

      .map {
        margin-left: -400px;
      }

      .container {
        padding: 0;
      }

      .contact {
        position: static;
        margin: 0 auto; 
      }
    }
  }

  .more-modal {
    .remodal-close {
      color: #000;
    }

    .block {
      margin-left: auto;
      margin-right: auto;
    }

    &-content {
      padding: 0 15px;
    }    
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .remodal {
    .form {
      &-title {
        font-size: 14px;
      }

      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .modal {
    &-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    form {
      width: auto;
    }
  }

  .header {
  }

  .section {
    &-title {
      font-size: 22px;
    }

    &-main {
      &-title {
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 30px;
      }
    }

    &-products {
      .block {
        box-shadow: 0px 0px 6.4px 1.6px rgba($accent, 1);
      }
    }

    &-reviews {
      .carousel-reviews {
        padding: 0;
      }

      .review {
        padding: 15px;
      }
    }

    &-contact {
      overflow: hidden;

      .map {
        margin-top: -100px;
        height: 300px;
        overflow: hidden;
      }
    }
  }

  #thanks-page {
    .section-thanks {
      padding: 150px 0 50px;
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {
  .remodal {
    max-width: 80%;
  }
}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}