@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  padding: 10px 0;
  font-size: 14px;
  background-color: rgba(#000, 0.7);

  &.scrolled {
    background-color: rgba(#000, 1);      
    border-bottom: 1px solid $accent;
  }

  &-content {
    display: flex;
    justify-content: space-between;      
  }

  .logo {
    display: block;
    margin-bottom: 5px;
  }

  &-title {
    font-size: 11px;
    font-weight: normal;
    width: 196px;
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
  }

  &-grafik {
    margin-right: 35px;
  }

  &-phone {
    &:nth-child(2) {
      margin-right: 70px;
    }

    a {
      display: block;
    }
  }
}

.footer {
  background-color: #000;
  font-size: 12px;

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0 20px;
  }

  &-address {
    margin-right: 80px;
  }

  &-phone {
    margin-right: 55px;

    &:nth-child(3) {
      margin-right: 20px;
    }

    a {
      display: block;
    }
  }

  &-comand {
    margin-left: 75px;

    a {
      margin-top: 3px;
      display: block;
    }
  }   
}

.main-menu {    
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 45px;
  }

  a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    padding: 3px 0 5px;
    font-weight: normal;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &.link:hover, &.active {
      color: $accent;
      border-top: 1px solid $accent;
      border-bottom: 1px solid $accent;
    }
  }
}

.list {
  padding: 0;

  li {
    font-size: 16px;
    color: #fff;
    list-style: none;
    text-align: left;
    position: relative;
    padding-left: 45px;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      background-image: url('../img/main-icon.png');
      background-repeat: no-repeat;
      top: -3px;
      left: 0;
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;

  &-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 40px;
    text-align: center;

    .accent & {
      color: $accent;
    }
  }

  &-main {
    padding-top: 150px;
    background-image: url('../img/main-back.jpg');

    &-title {
      font-size: 30px;
      margin: 30px 0 48px 0;
      letter-spacing: -0.6px;
      color: $accent;
      text-align: left;
      font-weight: normal;
    }

    .list {
      display: flex;
      justify-content: center;

      li {
        &:first-child {
          margin-right: 70px;
        }
      }
    }
  }

  &-advantages {
    .advantage {
      margin-bottom: 20px;

      &-image {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
      }
      &-title {
        font-weight: normal;
      }
    }
  }

  &-products {
    background-image: url('../img/product-back.jpg');

    .product {
      max-width: 260px;
      margin: 0 auto;

      &-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 16px;
        color: $accent;
        padding: 10px 0;
        background-color: $black;
      }

      &-block {
        position: relative;
        margin-bottom: 15px;

        &:hover {
          box-shadow: 0px 0px 6.4px 1.6px rgba($accent, 1);
        }
      }

      .button {
        width: 100%;
      }
    }

    .form {
      background-color: transparent;
      margin-top: 40px;
    }
  }

  &-reviews {
    .carousel-reviews {
      max-width: 1060px;
      padding: 0 60px;
      margin: 0 auto;

      .owl-item {
        padding: 5px 5px 10px;
      }
    }

    .review {
      display: flex;
      align-items: center;
      box-shadow: 0px 4px 4.75px 0.25px rgba(0, 0, 0, 0.31);
      padding: 30px;

      &-img {
        width: 100px;
        height: 100px;
        background-color: $accent;
        border-radius: 50%;
        margin-right: 15px;
        flex-shrink: 0;
        overflow: hidden;
      }

      &-block {
        text-align: left;
      }

      &-author {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      &-summary {
        display: flex;
        margin-bottom: 10px;

        &-text {
          font-size: 12px;
        }

        .stars {
          margin-right: 20px;
          display: flex;

          img {
            margin-right: 5px;
          }
        }
      }
    }
  }

  &-dostavka {
    background-color: #f2f2f2;

    ul {
      li {
        font-size: 14px;
        color: #000;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .dostavka {
      max-width: 286px;
      &-block {
        display: flex;
        
      }

      &-image {
        position: relative;
      }

      &-message {
        width: 260px;
        position: absolute;
        top: -100%;
      }
    }
    
    .form {
      background-color: transparent;

      &-title {
        color: #000;
      }

      &-info {
        color: #000;
      }

      .input {
        &::-webkit-input-placeholder {
          color: #000;
          opacity: 1;
        }
        
        &::-moz-placeholder {
          color: #000;
          opacity: 1;
        }
        
        &:-ms-input-placeholder {
          color: #000;
          opacity: 1;
        }
      }
    }
    
  }

  &-rukovoditel {
    .carousel-rukovoditel {
      max-width: 670px;
      // padding: 0 60px;
      margin: 0 auto;
    }

    .rukovoditel {
      max-width: 240px;
      margin: 0 auto;
      position: relative;

      &-block {
        width: 100%;
        background-color: $black;
        padding: 5px 10px;
        position: absolute;
        bottom: 0;
      }

      &-title {
        font-size: 16px;
        font-weight: bold;
        color: $accent;
      }

      &-text {
        color: #fff;
      }
      
    }
  }

  &-certificates {
    background-image: url('../img/certificate-back.jpg');

    .carousel-certificates {
      .owl-item {
        align-items: center;
      }
    }
  }

  &-contact {
    position: relative;

    .contact {
      position: absolute;
      top: 40px;
      padding: 15px 30px;
      background-color: rgba(29, 29, 27, 0.8);
      max-width: 338px;
      text-align: center;

      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $accent;
        margin-bottom: 18px;
      }

      &-phone, &-telephone, &-address {
        position: relative;
        text-align: left;
        color: #fff;
        margin-bottom: 25px;
        padding-left: 45px;

        a {
          color: #fff;
        }
                
        &::before {
          content: "";
          position: absolute;
          background-repeat: no-repeat;
          background-position: center center;
          width: 30px;
          height: 30px;
          left: 0;
          top: 0;
        }
      }

      &-telephone {
        &::before {
          background-image: url('../img/contact-1.png');
        }
      }

      &-phone {
        &::before {
          background-image: url('../img/contact-2.png');
        }
      }

      &-address {
        &::before {
          background-image: url('../img/contact-3.png');
        }
      }

      &-zvonok {
        width: 200px;
        margin: 0 auto;
        &-title {
          color: $accent;
          margin-bottom: 15px;
        }
        .button {
          width: 100%;
        }
      }
    }
  }

}

.remodal.more-modal {
  max-width: 850px;
}


#thanks-page {   

  .section-thanks {
    padding: 200px 0 0 0;
    background-image: url('../img/thanks-back.jpg');
    flex-grow: 1;
  
    &-content {
      display: flex;
      justify-content: space-between;   
      margin-left: 90px;      
    }
    
    &-title {
      font-size: 42px;
      margin-bottom: 40px;
    }

    &-text {
      font-size: 30px;
      margin: 0 0 60px;
    }
  
    &-link {
      text-decoration: underline;
      font-size: 18px;
      display: inline-block;
      margin-bottom: 150px;
    }
  }
}


.modal {
  text-align: center;

  &-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  form {
    margin: 0 auto;
    width: 300px;
  }

  .form-info {
    text-align: left;
    letter-spacing: 0;
  }

  .input-div {
    margin-bottom: 10px;
  }

  .button {
    width: 100%;
  }
}



@import './_media';